<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/Content/css/styles.css">
		<title>Band Tracker</title>
	</head>
	<body>
    <div class="container">
			<div class="row">
				<div class="col-md-12">
					<h3>Band: </h3>
					<h2>@Model["band"].GetBandName()</h3>
					@if(@Model["bandVenues"].Count != 0)
					{
						<h3>Here are all of this band's venues</h3>
							@foreach (var venue in @Model["bandVenues"])
							{
								<h4>@venue.GetVenueName()</h4>
							}
					}
					<br>
					<h4><a href="/add-new-venue">Add a new venue</a></h4>
					<h4><a href="/add-new-venue">Add a new band</a></h4>
					<div>
						<h4><a href="/">Return home</a></h4>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
