<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/Content/css/styles.css">
		<title>Band Tracker</title>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>Band Tracker</h1>
				</div>
			</div>
			<div class="center-col">
				<h3><a href="/add-new-band">Add a new band</a></h3>
				<h3><a href="/add-new-venue">Add a new venue</a></h3>
				<h3><a href="/stylists">View all bands</a></h3>
				<h3><a href="/clients">View all venues</a></h3>
			</div>
		</div>
	</body>
</html>
